@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

body {
  
  background-color: #e0e2ed;
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 75px;
}
table {
  margin: 0;
}
#tablazat {
  max-width: 850px;
  margin: 0;
}
.foSzoveg {
  display: flex;
  justify-content: center;
}
#megjelenoFoSzoveg {
  color: rgb(43, 26, 44);
  font-family: "Courgette", cursive;
  font-size: 60px;
  animation: megjelenes 2s linear forwards;
}
td {
  
  font-size: 20px;
  padding: 20px;
}
#dropdownList {
  margin: 10px;
  width: 100px;
}
#logo {
  position: relative;
  margin: 10px;
}
#logo img {
  width: 100px;
  height: 100px;
  animation: forgas 4s linear infinite;
}
#tablazat a {
  text-decoration: none;
  color: black;
}
#tablazat a:hover {
  display: inline-block;
  transform: scale(1.1, 1.1);
  transition: 0.4s;

  border-image: url(../Images/border.png);
}
.megjelenoSzoveg {
  bottom: 10%;
  left: -30;
}
.megjelenoSzoveg h2 {
  text-align: justify;
  width: 500px;
  animation: szoveg 4s linear forwards;
}
#slider{
  width: 622px;
  height: 350px;
  margin: 0 auto;
  
}
@keyframes szoveg {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    transform: translateX(10vh);
    opacity: 1;
  }
}
@keyframes megjelenes {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main {
  width: 1000px;
  margin: 0 auto;
  font-size: 20px;
}
.main p {
  margin: 0;
  text-align: justify;
}
h1 {
  font-family: "Courgette", cursive;
  color: rgb(43, 26, 44);
}
h2 {
  font-family: "Courgette", cursive;
  color: rgb(43, 26, 44);
  margin-top: 40px;
}

#kep {
  text-align: center;
  padding: 10px;
  
}
#kep img {
  width: 60%;
  height: 60%;
  border: 2px solid white;
}
#bal {
  position: fixed;
  left: 0;
  margin-top: 25px;
}
#bal img {
  width: 300px;
}

#jobb {
  position: fixed;
  right: 0;
  margin-top: 25px;
}
#jobb img {
  width: 300px;
}
#content {
  display: flex;
  justify-content: space-between;
  background-size: contain;
  
}

/*
  Login
*/

