@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  background-image: url(../Images/bg1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Raleway", sans-serif;
  background-blend-mode: multiply;
  background-color: rgba(000, 000, 000, 0.5);
}

header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}
table {
  margin: 0;
}
#tablazat {
  max-width: 850px;
  margin: 0;
}
.foSzoveg{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  height: 200px;
}
#megjelenoFoSzoveg{
  color:antiquewhite;
  font-family: 'Courgette', cursive;
  font-size: 60px;
  animation: megjelenes 2s linear forwards;
}
td {
  color: white;
  font-size: 20px;
  padding: 20px;
}
#dropdownList {
  margin: 10px;
  width: 100px;
}
#logo {
  position: relative;
  margin: 10px;
}
#logo img{
  width: 100px;
  height: 100px;
  animation: forgas 4s linear infinite;
}
#tablazat a {
  text-decoration: none;
  color: white;
  
}
#tablazat a:hover {
  display: inline-block;
  transform: scale(1.1,1.1);
  transition: .4s;
  
  border-image: url(../Images/border.png);
}
.megjelenoSzoveg {
  position: absolute;
  color: rgb(235, 235, 235);
  bottom: 10%;
  left: -30;
  
}
.megjelenoSzoveg h2 {
  text-align: justify;
  width: 500px;
  animation: szoveg 4s linear forwards;
}
@keyframes szoveg {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    transform: translateX(30vh);
    opacity: 1;
  }
}
@keyframes megjelenes{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.main{
  color:white;
  width: 1000px;
  margin: 0 auto;
  
}
.main p{
  margin : 0;
  text-align: justify;
}
h1{
  font-family: 'Courgette', cursive;
  color:#faebd7; 
  
}
h2{
  font-family: 'Courgette', cursive;
  color:#faebd7;
  margin-top: 40px 
  
}
#kep{
  text-align: center;
  padding: 10px;
  
}
#kep img{
  width: 60%;
  height: 60%;
  border: 2px solid white;
  
}
